.contact {
  margin-top: 40px;
  color: white;
  width: 100%;
  height: 90vh;
  background: #010103;
  display: flex;
  justify-content: center;
}

.contact .rightSide {
  height: 100%;
  flex: 50%;
  display: flex;
  max-width: 600px;
  flex-direction: column;
}

.contact h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 60px;
    color: white;
    margin-bottom: 50px;
}
.aboutTitle {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 60px;
  color: white;
  margin-bottom: 50px;
}
#contact-form > label {
  margin-top: 15px;
  color: black;
}

#contact-form {
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;
  justify-content: center;
}

#contact-form > input {
  background-color: transparent;
  height: 40px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
}

#contact-form > textarea {
  background-color: transparent;
  margin-top: 15px;
  height: 70px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
}

#contact-form > input::placeholder,
#contact-form > textarea::placeholder {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

#contact-form > input:focus,
textarea:focus {
  outline: none;
}

#contact-form > button {
  border-radius: 5px;
  margin-top: 40px;
  width: 120px;
  height: 40px;
  border: none;
  background-color: #121619;
  color: whitesmoke;
  font-size: 17px;
  cursor: pointer;
}