.gallery-div {
    background-image: url('../assets/bgImage.jpg');
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    padding: 2px;
    transition: 0.3s;
    max-height: 740px;
    margin-bottom: 30px;
}

.gallery:hover .gallery__image {
    filter: blur(5px);
}

.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.gallery__link {
    margin: 3px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 2px 3px 4px #888888;
}

.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}

.gallery__image {
    width: 100%;
    transition: 0.3s;
}

.gallery__image:hover {
    transform: scale(1.05);
}

.gallery-title {
    margin: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 40px;
  }