.navbar {
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 10;
}

.navbar .leftside {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .leftside img {
  margin-left: 50px;
  width: 50px;
  height: 60px;
}
.rightside {
  margin-top: 0;
  flex: 220%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar a {
  padding: 0 6px 4px 6px;
  margin: 12px;
  text-decoration: none;
  display: inline-block;
  color: white;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease;
  cursor: pointer;
}
.navbar a:hover {
  color: #ed1b76;
  border-color: #ed1b76;
}
.navbar .rightside button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.navbar .rightside svg {
  font-size: 35px;
}
.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}
.navbar #close img {
  display: inherit;
}
.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}
.navbar #close .hiddenLinks {
  display: none;
}
.logo-image:hover {
  text-decoration: none;
  border: none;
}
.logout-btn {
  background-color: #ed1b76;
  color: white;
  margin-left: 120px;
  margin-top: 15px;
  margin-bottom: 20px;
  align-items: center;
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  margin-right: 80px;
}
.auth-form {
  margin-right: 100px;
}

@media only screen and (max-width: 900px) {
  .navbar .rightside a {
    width: 70px;
  }
  .navbar .leftside {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .navbar .rightside a {
    display: none;
  }
  .navbar .rightside {
    justify-content: flex-end;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 700px) {
  .navbar .rightside button {
    display: none;
  }
  .hiddenLinks {
    display: none;
  }
}
